{% extends 'base.html' %}

{% block head %}
<title>Scrap It!</title>
{% endblock %}


{% block body %}


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  
    <main class="px-3">
      <h1>Naukri Scraper</h1>
      <p class="lead">Provide the job category</p>
      
      <form action="/results" method="POST">
        
        <div class="form-floating px-8">
          <input type="text" class="form-control" id="floatingInput" name="content" placeholder="Job category">
          
        </div>
        
        <button class="submit_btn btn btn-lg btn-secondary fw-bold border-white" type="submit">Scrap</button>
        
      </form>
    </main>
  
    
  </div>


{% endblock %}